<%
# BigBlueButton open source conferencing system - http://www.bigbluebutton.org/.
# Copyright (c) 2018 BigBlueButton Inc. and by respective authors (see below).
# This program is free software; you can redistribute it and/or modify it under the
# terms of the GNU Lesser General Public License as published by the Free Software
# Foundation; either version 3.0 of the License, or (at your option) any later
# version.
#
# BigBlueButton is distributed in the hope that it will be useful, but WITHOUT ANY
# WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
# PARTICULAR PURPOSE. See the GNU Lesser General Public License for more details.
# You should have received a copy of the GNU Lesser General Public License along
# with BigBlueButton; if not, see <http://www.gnu.org/licenses/>.
%>
<header>
    <h1>Welcome to tv.solarpunk.cool!</h1>
    <p>Online Classes for Radical Bodies and Minds</p>
</header>
<main>
    <h2>Schedule</h2>
    <em>All classes are koha</em>
    <article>
        <h3>Kundalini Yoga</h3>
        <p>Tuesdays at <time datetime="18:00T+12:00">6pm, NZT</time></p>
        <a href="https://tv.solarpunk.cool/b/zac-p4c-47d">Enter the Class</a>
        <figure>
            <img src='https://solarpunk.cool/aesthetic/assets/intelligence-meditation-small.gif'>
        </figure>
    </article>
    <article>
        <h3>Cyborg Physical Therapy</h3>
        <p>Thursdays at <time datetime="12:00T+12:00">Noon, NZT</time></p>
        <p class='description'></p>
        <figure>
            <img src='https://solarpunk.cool/aesthetic/assets/kirtanhands.png'>
        </figure>
        <a href="https://tv.solarpunk.cool/b/zac-p4c-47d">Enter the Class</a>
    </article>
    <article>
        <h3>Solarpunk Magic Computer Club</h3>
        <p>Sundays at <time datetime="11:00T+12:00">11:00 to 13:00, NZT</time></p>
        <p class='description'>A weekly club for non techie folk to hang out and code.</p>
        <figure>
            <img src='https://solarpunk.cool/aesthetic/assets/star_computations.gif' alt='old computer, keyboard, and mouse, with stars flashing on screen'>
        </figure>
        <a href="https://tv.solarpunk.cool/b/zac-fuv-znx">Enter the Class</a>
    </article>
</main>
<footer>
    <p><em>Are you a class teacher? <a href='b/signin'>sign in</a></em></p>
    <p><em>Do you wanna be a teacher? <a href='b/signup'>sign up</a></em></p>
</footer>
